.div2{
    background-color: aqua;
    width: 500px;
    border-radius: 20px;
}
.para1{
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bor{
    border: 2px solid black;
}
.para2{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media(max-width:400px){
    .para2{
        font-size: 29px;
    }
}